---
layout: front
weight: 0
---
 {% include header-slider.html %}
{% include JB/setup %}
<div id="front-page">
<div class="color-window">
<div class="col-sm-10 center-block">
    <h2>We are applying today&#39;s knowledge to create systems for an open future.</h2>    
</div>
</div>

<section class="divs-container">
  <div class="container">
    <div class="col-md-11 col-centered">
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><span class="text-muted"></span>KORUZA</h2>
          <div class="lead">
          <p>KORUZA brings benefits of fibre-optic connection, without the intrusive installation process or the high price tag. It is a license-free, wireless optical internet-access system with data securely transmitted point-to-point over a collimated beam of light with 1 Gbps or 10 Gbps throughput at distances up to 150 m.</p>
          <a href="{{site.baseurl}}/projects#koruza" class="btn btn-primary btn-lg">Read more</a>
        </div>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="images/koruza/koruzapro.jpg" alt="Generic placeholder image">
        </div>
      </div>
</div>
</div>
<div class="div-background">
  <div class="container">
    <div class="col-md-11 col-centered">
      <div class="row ">
        <div class="col-md-7">
          <h2 class="featurette-heading">VITAPRINT<span class="text-muted"></span></h2>
          <div class="lead">
          We develop fully functional open-source 3d bioprinting solutions that reach the standards set by the commercial, high-end machines. Most of our focus is on designing an Open Source Syringe Extruder as a self-contained unit.
        </div>
        <a href="{{site.baseurl}}/vitaprint" class="btn btn-primary btn-lg">Read more</a>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="images/vitaprint/vitaprint-1.jpg" alt="Generic placeholder image">
        </div>
      </div>
</div>
</div>
</div>
  <div class="container">
    <div class="col-md-11 col-centered">
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><span class="text-muted"></span>CUSTOM HARDWARE DEVELOPMENT</h2>
          <div class="lead">
          <p>We develop well-tailored and cost effective solutions and help different organizations to overcome the gap between the research phase and the finished product, ready to enter the market.</p>
          <a href="{{site.baseurl}}/projects" class="btn btn-primary btn-lg">Find out more</a>
        </div>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="images/get-involved/work-with-us-1.jpg" alt="Generic placeholder image">
        </div>
      </div>
</div>
</div>

<div class="div-background" id="donate">
  <div class="container" id="donate">
    <div class="col-md-11 col-centered">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted"></span>DONATE</h2>
          <div class="lead">
          <h3>We create effective and affordable open-source systems!</h3>
          <p>We strive to develop globally useful designs and knowledge, make them open-source open-hardware for everyone. This would not be possible with the support of the globally community and thus we appeal to everyone finding our work useful to financially support us.</p>
          <p>Raised funds go towards operational costs, salaries and creation of prototypes. Your support enables us to continue the work and come up with new projects.</p>
          <div align="right">
             <a href="https://www.paypal.com/si/cgi-bin/webscr?cmd=_flow&SESSION=xdqzUYDFwlRjOtvBvcBcNJe_Z-ihzIiyk-kzTJ-HYFWhjvHp1P4vCABMvC8&dispatch=5885d80a13c0db1f8e263663d3faee8d94717bd303200c3af9aadd01a5f55080" class="btn btn-primary btn-lg">DONATE</a>
               
            </div> 
        </div>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="images/get-involved/work-with-us-3.jpg" alt="Donate">
        </div>
      </div>
</div>
</div>
</div>
</div>
</section>