---
title: The Things Conference on Tour
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1;IE=edge">
    <title>IRNAS{% if page.title %} :: {{ page.title }}{% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/styles.css">
<link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="common-css/jquery.classycountdown.css" /> 
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="common-css/jquery.classycountdown.css" />
		
	<link href="08-comming-soon/css/styles.css" rel="stylesheet">
	
	<link href="08-comming-soon/css/responsive.css" rel="stylesheet">
	
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">

  </head>

<body>


		<div class="" style="width:100%; padding-bottom:100px; padding-top:100px;  background: rgb(31,185,234);
background: -moz-linear-gradient(90deg, rgba(31,185,234,1) 0%, rgba(13,131,208,1) 100%, rgba(13,131,208,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(31,185,234,1) 0%, rgba(13,131,208,1) 100%, rgba(13,131,208,1) 100%);
background: linear-gradient(90deg, rgba(31,185,234,1) 0%, rgba(13,131,208,1) 100%, rgba(13,131,208,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1fb9ea",endColorstr="#0d83d0",GradientType=1); >
			
			<div class="container">
				<div class="row">
				<div class="col-sm-12" style="margin:0 auto; text-align: center;">
				<img class="featurette-image img-responsive center-block" src="images/conf/The_Things_Conference_On_Tour_Logo.png" alt="The_Things_Conference_On_Tour_Logo" style="width:40%; min-width:250px;">
					
					<h3 class="title" style="padding-top:30px;"><b>Slovenia, Maribor</b></h3>
					<h3 class="title" style="padding-bottom:30px;""><b>4th October 2018</b></h3>
					<p class="desc font-white" style="font-weight:700; font-size:20px;">
The Things Conference On Tour is stopping also in Maribor. Make sure to be part of it!</p>
<p class="desc font-white" style="text-align: left;">At IRNAS we decided to gather together the experts on LoRaWAN technology & The Things Network platform and everyone else who wants to start working with this technology. We’ll be discussing interesting use-cases and provide you with the knowledge, hands-on skills and the right professional connections to make reliable, secure and scalable LoRaWAN applications.</p>
<p class="desc font-white" style="font-weight:700; font-size:20px;">Join us and let’s create an awesome event together!</p>

<a href="http://eepurl.com/dwA4Jn" class="btn btn-lg btn-conf" style="font-weight:700;">RECEIVE UPDATES</a>
<p class="desc font-white" style="font-weight:700; font-size:20px; padding-top:50px;">The tickets sale starts on 14th June 2018. 
</p>
						
					<div id="normal-countdown" data-date="2018/06/14"></div>
					
					
			</div>
			</div>
			<div class="row">
				<div class="col-sm-12" style="margin:0 auto; padding-top:50px; text-align: center;">
				<p class="desc font-white" style="font-weight:700; font-size:20px; padding:0px;">Connect</p>
					<p><a href="https://www.facebook.com/instituteirnas" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                 <a href="https://twitter.com/institute_irnas" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                 <a href="https://www.linkedin.com/company/5091007?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A2145770871449478448235%2CVSRPtargetId%3A5091007%2CVSRPcmpt%3Aprimary" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                 <a href="https://github.com/IRNAS" target="_blank"><i class="fa fa-github-square fa-2x"></i></a></p>

                 <p class="desc font-white"><a href="http://irnas.eu/"><i class="fa fa-arrow-left"></i>   Back to IRNAS</p>

				</div>
			</div>
			</div>
		</div><!-- main-area -->

	
	<!-- SCIPTS -->
	
	<script src="common-js/jquery-3.1.1.min.js"></script>
	
	<script src="common-js/jquery.countdown.min.js"></script>
	
	<script src="common-js/scripts.js"></script>

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us11.list-manage.com","uuid":"b5c1933275a02f111e7bf5c55","lid":"967f401a0d"}) })</script>

</body>
</html>