<div class="wrapper-slider">
<section id="headerSlider" class="carousel slide no-margin" data-ride="carousel" data-interval="3000">
  
  
  <!--  <div class="bothTitles">
       <h1 class="headerSliderTitle">1Gbps networking connectivity for locations up to 100m apart, using an eye-safe infrared light beam.</h1>
       <h2 class="headerSliderTitle2">KORUZA is a low cost, open source and open hardware, wireless optical system, making the free space optical (FSO) technology available to masses and providing
       an alternative to Wi-Fi networks.</h2>
    </div>-->

    <ol class="carousel-indicators">
        <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
        <li data-target="#headerSlider" data-slide-to="1"></li>
        <li data-target="#headerSlider" data-slide-to="2"></li>
        <li data-target="#headerSlider" data-slide-to="3"></li>

    </ol>
  
    <div class="carousel-inner">

   
       <div class="item active" style="background-image: url({{site.baseurl}}/images/slider/open-hardware-development.jpg)" onclick='window.location.href="{{site.baseurl}}/projects"'>
            <div class="container">
                <div class="row slide-margin row-centered">
                    <div class="col-xs-12 col-sm-8 col-centered">
                        <div class="carousel-content">
                           <h2 class="headerSliderTitle">Open Hardware Development</h2>
                            <h2 class="headerSliderTitle2">We create technical solutions and provide development service built around open principles.</h2>
                            <!-- <a class="btn-slide animation animated-item-3 readMore" href="#features">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
        
        <div class="item" style="background-image: url({{site.baseurl}}/images/slider/koruza-pro.jpg)" onclick='window.location.href="{{site.baseurl}}/projects"'>
            <div class="container">
                <div class="row slide-margin row-centered">
                    <div class="col-xs-12 col-sm-8 col-centered">
                        <div class="carousel-content">
                            <h2 class="headerSliderTitle">KORUZA - Open Source Wireless Optical Communication System for Urban Environments.</h2>
                              <h2 class="headerSliderTitle2">We’re empowering the network with 1 Gbps or 10 Gbps data transmission capacity.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url({{site.baseurl}}/images/slider/vitaprint.jpg)" onclick='window.location.href="{{site.baseurl}}/vitaprint"'>
            <div class="container">
                <div class="row slide-margin row-centered">
                    <div class="col-xs-12 col-sm-8 col-centered">
                        <div class="carousel-content">
                             <h2 class="headerSliderTitle">VITAPRINT - Open Source 3D Bioprinting</h2>
                            <h2 class="headerSliderTitle2">We’re bringing bioprinting closer to the audience in medicine, animal medicine and pharmacological industry.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url({{site.baseurl}}/images/slider/irnas-lab.jpg)">
            <div class="container">
                <div class="row slide-margin row-centered">
                    <div class="col-xs-12 col-sm-8 col-centered">
                        <div class="carousel-content">
                            <h2 class="headerSliderTitle">GET INVOLVED!</h2>
                            <h2 class="headerSliderTitle2">Contribute to creation of the open future buying or making our solutions, supporting our work with donation or joining our team.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    
    <!-- <a class="headerSliderLogos irnas" href="http://irnas.eu/" target="_blank"><img src="{{site.baseurl}}/assets/images/partners/irnas.jpg"></a>
    <a class="headerSliderLogos shuttleworth" href="https://www.shuttleworthfoundation.org/" target="_blank"><img src="{{site.baseurl}}/assets/images/partners/shuttleworth-foundation.jpg"></a> -->

</section>
</div>