<section id="headerSlider" class="carousel slide no-margin" data-ride="carousel">
  <a class="prev hidden-xs" href="#headerSlider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="next hidden-xs" href="#headerSlider" data-slide="next"><i class="fa fa-angle-right"></i></a>
  
  <!--  <div class="bothTitles">
       <h1 class="headerSliderTitle">1Gbps networking connectivity for locations up to 100m apart, using an eye-safe infrared light beam.</h1>
       <h2 class="headerSliderTitle2">KORUZA is a low cost, open source and open hardware, wireless optical system, making the free space optical (FSO) technology available to masses and providing
       an alternative to Wi-Fi networks.</h2>
    </div>-->

    <ol class="carousel-indicators">
        <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
        <li data-target="#headerSlider" data-slide-to="1"></li>
        <li data-target="#headerSlider" data-slide-to="2"></li>
        <li data-target="#headerSlider" data-slide-to="3"></li>

    </ol>
         
    <div class="carousel-inner">

       <div class="item active" style="background-image: url({{site.baseurl}}/images/slider/img1.jpg)">
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-xs-12 col-sm-8 col-centered">
                        <div class="carousel-content">
                           <h1 class="headerSliderTitle">Institute for Development of Advanced Applied Systems</h1>
                            <h2 class="headerSliderTitle2">Inštitut za razvoj naprednih aplikativnih sistemov</h2>
                            <!-- <a class="btn-slide animation animated-item-3 readMore" href="#features">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url({{site.baseurl}}/images/slider/img2.jpg)">
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-xs-12 col-sm-8 col-centered">
                        <div class="carousel-content">
                            <h1 class="headerSliderTitle">KORUZA is a low cost, open source and open hardware, wireless optical system.</h1>
                              <h2 class="headerSliderTitle2">1Gbps networking connectivity for locations up to 100m apart, using an eye-safe infrared light beam.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url({{site.baseurl}}/images/slider/img3.jpg)">
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-xs-12 col-sm-8 col-centered">
                        <div class="carousel-content">
                             <h1 class="headerSliderTitle">GoodEnoughCNC machines </h1>
                            <h2 class="headerSliderTitle2">A low cost CNC solution, suitable for high range of aplications, from micro production to prototyping.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url({{site.baseurl}}/images/slider/img4.jpg)">
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-xs-12 col-sm-8 col-centered">
                        <div class="carousel-content">
                            <h1 class="headerSliderTitle">Get Involved!</h1>
                            <h2 class="headerSliderTitle2">Buy or make our products, support our work with donation or come work with us. We really appreciate your support.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    
    <!-- <a class="headerSliderLogos irnas" href="http://irnas.eu/" target="_blank"><img src="{{site.baseurl}}/assets/images/partners/irnas.jpg"></a>
    <a class="headerSliderLogos shuttleworth" href="https://www.shuttleworthfoundation.org/" target="_blank"><img src="{{site.baseurl}}/assets/images/partners/shuttleworth-foundation.jpg"></a> -->

</section>