<div class="sidebar-content">
<h3>Connect</h3>
                 <a href="https://www.facebook.com/instituteirnas" target="_blank"><i class="fa fa-facebook-square"></i></a>
                 <a href="https://twitter.com/institute_irnas" target="_blank"><i class="fa fa-twitter-square"></i></a>
                 <a href="https://www.linkedin.com/company/5091007?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A2145770871449478448235%2CVSRPtargetId%3A5091007%2CVSRPcmpt%3Aprimary" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                 <a href="https://github.com/IRNAS" target="_blank"><i class="fa fa-github-square"></i></a>
 
<h3>Categories</h3>
<ul class="categories-list">
<li><a href="{{ site.url }}/category/irnas/">IRNAS</a></li>
<li><a href="{{ site.url }}/category/koruza/">KORUZA</a></li>
<li><a href="{{ site.url }}/category/goodenoughcnc/">GoodEnoughCNC</a></li>
<li><a href="{{ site.url }}/category/symbiolab/">Symbiolab</a></li>
<li><a href="{{ site.url }}/category/other%20projects/">Other Projects</a></li>
</ul>

<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}"><h3>Tags</h3></a>
<!--<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>-->

<a href="{{ BASE_PATH }}{{ site.JB.archive_path }}"><h3>Archive</h3></a>
</div>
