

@media (min-width: 768px) {

#menu.nav li a {
  padding: 30px 20px;
}

}

#menu.nav li a.selected,
#menu.nav li a:hover {
    color: white;
    background-color: #6BAF37;

}

footer {
    font-size: 80%;
    text-align: center;
    margin-top: 80px;
    padding-top: 60px;
    clear: both;
    color: gray;
    background: transparent url(images/footer-background.png) no-repeat top center;
    min-height: 200px;
    border-bottom: rgb(231, 231, 231) solid 1px;
}


.front {
    position: relative;
    top: -20px;
    background: white url(images/front-background.png) no-repeat bottom center;
    min-height: 500px;
}

.front .jumbotron {
    background: transparent;
}

.front .jumbotron .motto {
    padding: 30px 0;
    color: #6BAF37;
    font-weight: bold;
}

.front footer {
    padding-top: 30px;
    min-height: 10px;
    background: none;
    border-bottom: none;
}

.project p {
    font-size: 120%;
}

img.member {
    
}

.row-spacing {
    margin-bottom: 40px;

}
