@font-face {
    font-family: Impact;
    src: url(fonts/impactreg.eot);
    src: url(fonts/impactreg.ttf);
    src: url(fonts/impactreg.woff);
}

body{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
p{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5{
  font-weight:300;
  padding:10px 0px;
}

@media (min-width: 768px) {

#menu.nav li a {
  padding: 30px 20px;
}

}

h1 {
    margin-bottom: 30px !important;
}

#menu.nav li a.selected,
#menu.nav li a:hover {
    color: white;
    background-color: #6BAF37;

}

.pre-footer {
    font-size: 80%;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom:30px;
    clear: both;
    color: gray;
    background: transparent url(images/footer-background.png) no-repeat top right;
    min-height: 200px;
}

footer{
  width:100%;
  background-color: #E7E7E7;
  clear: both;
  color: gray;
  padding-top:25px;
}

footer a{
  color: gray;
}


.front {
    position: relative;
    top: -20px;
    background: white url(images/front-background.png) no-repeat bottom center;
    min-height: 500px;
}

.front .jumbotron {
    background: transparent;
}

.front .jumbotron .motto {
    padding: 30px 0;
    color: #6BAF37;
    font-weight: bold;
}

.front footer {
    padding-top: 30px;
    min-height: 10px;
    background: none;
    border-bottom: none;
}



img.member {
  width:150px;
  border-radius: 50%;

}

.row-spacing {
    margin-bottom: 40px;

}

.pagination {
    border: none;
}

.post.teaser .header .date, .blog-content .header .date {
    font-size: 90%;
    color: #777777;
}

.post.teaser {
    margin-bottom: 30px;
}

.post .title {
    font-size: 170%;
}

.img-supporter{
    width:250px;
    margin-right:25px;
}

.img-supporter{
filter: grayscale(100%);
-webkit-filter: grayscale(100%); /* For Webkit browsers */
filter: gray; /* For IE 6 - 9 */
-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

.img-supporter:hover{
filter: grayscale(0%);
-webkit-filter: grayscale(0%);
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.blog-content{
    border-right:solid 1px #F8F8F8;
}


.img-half{
    width:47%;
}

.img-full{
    width:94%;
}

@media (max-width: 768px){
  .img-half, .img-full{
    width:100%;
    margin:5px;
  }
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0px;}

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px !important;
  background: #D3EBC0;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px solid #D3EBC0; }

.tag_box a span {
  
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }


@media (min-width: 768px) {

.image-blog-p{
  float:left;
  width:24%;
}

.blog-intro{
  width: 74%;
  float:right;
}
}

.image-blog-p img{
  width:100%;
  margin-top:5px;
}

.content{
  margin-top:5px;
}

.post-content .content{
  margin-top:10px;
  margin-bottom:50px;
}

 #mc_embed_signup{clear:left; font:12px Helvetica,Arial,sans-serif;  width:250px;}

 footer ul{
  list-style:none;
  padding:0;
 }

footer .fa, .sidebar-content .fa{
  font-size:30px !important;
 }

#copy{
  text-align: center;
  font-size:80%;
}

.nav-conect{
  background-color: #E7E7E7;
}

.footer{
  text-align:center;
}

.categories-list{
  list-style: none;
  padding-left:0px;
}

#mc_embed_signup form{
  padding-left:0px !important;
}

.sidebar-content{
  padding-left:10px;
}
.mfp-title { display: none; }

.collaboration-img{
padding-top:50px;
}

h2{
  margin-top:10px;
  }

.get-involved{
    background-color: #F8F8F8;
    padding: 15px;
    color: #7FC649;
}

.blog-content h1{
  margin-bottom:10px !important;
}

.img-portrait{
  height:229px !important;
  width:auto !important;
}

.vac-btn{
  margin-right:10px;
}

/*get involved, index, toolset, projects */

@media (min-width: 768px){
.nav-tabs.nav-justified>li>a {
    min-height: 68px;
}
}



.navbar{
  margin-bottom:0px;
  border-bottom:none;
}

.color-window{
  max-height:350px;
  background-color: #7FC649;
}

.color-window-gray{
  min-height:100px;
  background-color: #F8F8F8;
}

.color-window-gray h3{
  margin-top: 0px;
}

.center-block{
  float:none;
  margin: 0 auto;
}


/*slider front*/
/*************************
*******Home Page******
**************************/
#headerSlider {
  position: relative;
  z-index: 1;
}

.no-margin {
  margin: 0;
  padding: 0;
}

#headerSlider .carousel-content {
  margin-top: 50px;
}

#headerSlider .slide-margin {
  margin-top: 140px;
}

#headerSlider .bothTitles {
  display: block;
  position: absolute;
  width: 80%;
  top: 0;
  z-index: 1000;
  left: 10%;
}

#headerSlider .headerSliderTitle {
  background-color: rgba(255,255,255,.75);
  padding: 10px 20px;
  color: #333;
  font-weight: 400;
}

#headerSlider .headerSliderTitle2 {
  color: #fff;
  background: rgba(0,0,0,.5);
    padding: 10px 20px;
margin-bottom:0px;
font-weight: 400;
}

#headerSlider .btn-slide {
  padding: 8px 20px;
  background: #6BAF37;
  color: #fff;
  border-radius: 4px;
  margin-top: 25px;
  display: inline-block;
}

#headerSlider .readMore {
  display: none;
}

body.startpage #headerSlider .readMore {
  display: inline-block;
}

#headerSlider .slider-img {
  text-align: right;
  position: absolute;
}

#headerSlider .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 730px;
/*   -webkit-transition: opacity ease-in-out 500ms;
-moz-transition: opacity ease-in-out 500ms;
-o-transition: opacity ease-in-out 500ms;
transition: opacity ease-in-out 500ms; */
}

#headerSlider .item:first-child {
  top: auto;
  position: relative;
}

#headerSlider .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}

#headerSlider .prev,
#headerSlider .next {
  position: absolute;
  top: 50%;
  background-color: #6BAF37;
  color: #fff;
  display: inline-block;
  margin-top: -25px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
}

#headerSlider .prev:hover,
#headerSlider .next:hover {
  background-color: #333;
}

#headerSlider .prev {
  left: 10px;
}

#headerSlider .next {
  right: 10px;
}

#headerSlider .carousel-indicators {
  
}

#headerSlider .carousel-indicators li {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin: 0 15px 0 0;
  position: relative;
}

#headerSlider .carousel-indicators li:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0);
  left: -3px;
  top: -3px;
}

#headerSlider .carousel-indicators .active {
  width: 20px;
  height: 20px;
  background-color: #6BAF37;
   margin: 0 15px 0 0;
   border: 1px solid #6BAF37;
   position: relative;
}

#headerSlider .carousel-indicators .active:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #6BAF37;
  left: -3px;
  top: -3px;
}

#headerSlider .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}

#headerSlider .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}

#headerSlider .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}

#headerSlider .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}


#carousel-slider {
  position: relative;
}

#carousel-slider .carousel-indicators {
  bottom: -25px;
}

#carousel-slider .carousel-indicators li {
  border: 1px solid #ffbd20;
}

#carousel-slider a i {
  border: 1px solid #777;
  border-radius:50%;
  font-size: 28px;
  height: 50px;
  padding: 8px;
  position: absolute;
  top: 50%;
  width: 50px;
  color:#777;
}

#carousel-slider a i:hover {
  background:#bfbfbf;
  color:#fff;
  border: 1px solid #bfbfbf;
}

#carousel-slider 
.carousel-control {
  width:inherit;
}

#carousel-slider .carousel-control.left i {
  left:-25px
}

#carousel-slider .carousel-control.right i {
  right: -25px;
}

#carousel-slider
.carousel-control.left, 
#carousel-slider
.carousel-control.right {
  background: none;
}

.color-window h2 {
  margin-top:0px !important;
  margin-bottom:0px !important;
  padding:30px 0px;
  color:#fff;
}

.color-window h1{
  font-weight: 400;
}


.color-window{
  text-align: center;
}

@media (min-width: 768px){
.vertical-img-1{
  margin-bottom:27%;
}
}

.more-info{
  margin-top:60px;
}

.carousel-content{
  margin-top: 50px;
}


.col-centered, .row-centered{
  float:none;
  margin:0 auto;
}

#headerSlider .carousel-content{
  margin-top:40%;
}

.bio{
  margin-top:70px;
  margin-bottom:70px;
}


.lead, .lead ul li{
  font-size:18px;
  font-weight:300;
}

.featurette-image, .featurette-image-block{
  margin-top:20px !important;
}

.services h1{
  display:none;
}

.div-background{
  background-color:#F8F8F8;
  padding:40px 0px;
  margin:20px 0px;
  border-top:1px solid #F1F1F1;
  border-bottom:1px solid #F1F1F1;
}

.div-background-top{
   background-color:#E7E7E7;
  padding:40px 0px;
  margin:0px 0px 30px;
  border-bottom:1px solid #F1F1F1;
}

.container-page{
  margin-top:60px;
}

.row-test{
  padding:20px 20px;
  margin:20px 10px;
}

.col-sm-8 h2{
  text-align: center;
  padding:10px 0px;
}

.img-fluid{
  width:100%;
  margin:10px auto;
}

.panel-title{
  text-align:center;
}

.test-facility{
  margin-top:30px;
}

.em-title h4{
  font-size:20px;
}

.popup-gallery{
  margin-top:30px;
}

.test-facility-page .row{
margin:40px 0;
}

.test-facility-page p{
    font-weight: 300;
    font-size: 18px;
  }

.img-icon{
  width:100%;
  max-width:100px;
  margin:0 auto;
}

@media (max-width: 767px){
.lead .col-sm-2, .lead .col-sm-10{
  text-align:center;
  padding:10px 0px;
}


}



.highlight p{
  font-size:20px;
  text-align: center;
}


.btn-outline {
    background-color: transparent;
    color: #7FC649;
    transition: all .5s!important;
    border-radius:0px;
    font-size:18px;
    border:solid 2px;


}

.btn-success.btn-outline:hover,
 {
    color: #fff;
    background-color: #7FC649;
}

.test-facility-page .featurette-heading{
  text-align: center;
}

.sth-sth .col-md-6{
  height: 400px;
   padding:0px;
  }

  .parallax-window {
    height: 400px;
    background-color: #000;
    opacity:0.2;

}

.test-facility-page strong{
  font-weight: 400 !important;
}

.panel-title a{
  font-weight: 500 !important;
}

 .more-info h2{
  font-size:25px;
  font-weight:400;
 }

html,
body {
  width: 100%;
  height: 100%;
}

.bg-holder {
  width: 100%;
  height: 100%;
}

.bg-holder#pic1 {
  background-image: url('images/slider/get-involved.jpg');
}

.bg-holder#pic2 {
  background-image: url('images/slider/get-involved.jpg');
}

@media (min-width: 768px) {
  .bg-holder#pic1 {
    background-image: url('images/slider/get-involved.jpg');
  }
  .bg-holder#pic2 {
    background-image: url('images/slider/get-involved.jpg');
  }
}

.featurette-heading-top{
  font-weight: bold;
}

.em-title{
  text-align: center;
}

.bio .img-responsive{
  max-width:120px;
  min-height:120px;
}

.bio .col-md-3 img, .bio .col-md-3 h2, .bio .col-md-3 p{
  text-align: center;
  margin: 0 auto;
  float:none;
}

#menu.nav li a{
  font-size:14px !important;
}


@media (min-width: 768px){
.navbar-nav{
    float:right;
}
}

#contactPage .fa{
  font-size:20px;
  margin-right: 10px;
}


#contactPage .contactSocial .fa{
  font-size: 30px;
  margin-right:0px;
}

.google-maps{
  margin-top:40px;
}

.mailchimp-div #mc_embed_signup{
  width:100%;
  height:200px;
  background-color: #F8F8F8;
  padding:20px;
  margin-top:20px;
}

#mc-embedded-subscribe{
  margin: 0px 20px 0px 0px !important;
}

.lead a{
  font-weight:500;
}

.featurette-heading{
  font-weight: 400;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success{
  background-color: #7FC649;
  border-color:#7FC649;
}

.bio .col-md-3{
  padding:0px 20px;
}

.quiet{
  width:95%;
  font-size:80%;
  color:#565656;
  margin-bottom:15px;
}

.blog-content .tag_box a{
  font-weight:400 !important;
}

.blog-content a{
  font-weight:600;
}

.blog-content .title a{
  font-weight:400;
}


.table-project-info{
background:#E7E7E7;
}

.table-project-info, .table-project-info>thead>tr>th{
border:2px solid #fff !important;
}



.table-project-info th{
  width:25%;
  vertical-align:top !important;
  padding:0px !important;
}


.table-project-info th p{
font-weight:normal;
padding-top:10px;
}

.table-div{
  width:100%;
  height:100%;
  padding:5px;
  background-color:#E7E7E7;
  text-align: center;
  display:block;
}

.table-project-info th a{
  color:#333333;
}

.table-project-info th a:hover{
  color:#7FC649;
  text-decoration: none;
}


